/* libadwaita does 0.85, but 0.8 looks better */
@define-color fixed-borders mix(@window_fg_color, @window_bg_color, 0.8);

/* #blackbox-main-window.with-borders:not(.fullscreen):backdrop {
  border-color: alpha(@borders, 0.5);
} */

#blackbox-main-window {
  background: transparent;
}

window:not(.about) headerbar,
.custom-headerbar {
  transition: background-color 0.5s;
  background-color: @window_bg_color;
}

.custom-headerbar windowhandle > box {
  padding-top: 0;
  padding-bottom: 0;
}

.custom-headerbar windowcontrols:not(.empty).start {
  margin-right: 6px;
}

.custom-headerbar windowcontrols.start.empty ~ tabbar {
  margin-left: -6px;
}

.custom-headerbar windowcontrols:not(.empty).end {
  margin-left: 6px;
}

/**
 * Add space on the left when "Drag Area" is enabled.
 */
.custom-headerbar.with-dragarea:not(.single-tab-mode) windowcontrols.start.empty ~ tabbar {
  margin-left: 34px;
}

.toolbar {
  background-color: @headerbar_bg_color;
}

.toolbar > * {
  padding: 2px 8px;
}

.thumbnail picture {
  border: 2px solid transparent;
}

.thumbnail picture.selected {
  border-color: @accent_bg_color;
}

.thumbnail image {
  background-color: @accent_bg_color;
  border-radius: 9999px;
  padding: 2px;
  color: white;
  margin: 8px;
}

.shortcut-row {
  padding: 12px;
}
